<div class='row'>
<div class='span6'>
<h1>
      <%= @user.name%>
<small>
        <%= "@#{@user.screen_name}"%>
</small>
</h1>
<img src="<%=@user.profile_image_url(size = :bigger)%>" class="img-rounded">
</div>
</div>

<div class='row'>
<div class='span6'>
<table class='table table-bordered table-striped'>
<thead>
<tr>
<th>
Tweets
</th>
<th>
Following
</th>
<th>
Followers
</th>
<th>
Favorites
</th>
</tr>
</thead>
<tbody>
<tr>
<td>
<%= number_with_delimiter @user.statuses_count%>
</td>
<td>
<%= number_with_delimiter @user.friends_count%>
</td>
<td>
<%= number_with_delimiter @user.followers_count%>
</td>
<td>
<%= number_with_delimiter @user.favourites_count%>
</td>
</tr>
</tbody>
</table>



<table class='table table-bordered table-striped'>
<thead>
<tr>
<th>
New Followers
</th>
</thead>
<tbody>
<%
@newfollowers.each do |id|
begin%>
<tr>
<td>
  <%=Twitter.user(id.to_i).name%>
</td>
</tr>

<%rescue%>
  Deleted User
</td>
</tr>
<%
next
end

end
%>
</tbody>
</table>

<table class='table table-bordered table-striped'>
<thead>
<tr>
<th>
No Longer Followers
</th>
</thead>
<tbody>
<%
@nolongerfollowers.each do |id|
begin%>
<tr>
<td>
  <%=Twitter.user(id.to_i).name%>
</td>
</tr>

<%rescue%>
  Deleted User
</td>
</tr>
<%
next
end

end
%>
</tbody>
</table>

<%=form_tag url_for(:controller=>"data", :action=>"save") do |f|%>
          <%=hidden_field_tag "userid", @user.id.to_s%>
          <%=hidden_field_tag "currentids", @currentids.to_json%>
   <%=submit_tag "Save to Database", :class=>"btn btn-success"%>
   <%end%>

</div>
</div>

<div class="row">
<%= form_tag(signout_path, :method => 'delete') do%>
<button class='btn btn-danger' id='sign_out'>
           <%= t("button.sign_out")%>
           </button>
<%end%>
</div>
