<div class='row'>
<div class='span6'>
<h1>
      <%= @user.name%>
<small>
        <%= "@#{@user.screen_name}"%>
</small>
</h1>
<img src="<%=@user.profile_image_url(size = :bigger)%>" class="img-rounded">
<h6>
  Tweetin' for <%=seconds_to_units(Time.now-@user.created_at)%>
  </h6>
</div>
</div>

<div class='row'>
<div class='span6'>
<table class='table table-bordered table-striped'>
<thead>
<tr>
<th>
Tweets
</th>
<th>
Following
</th>
<th>
Followers
</th>
<th>
Favorited Tweets
</th>
</tr>
</thead>
<tbody>
<tr>
<td>
<%= number_with_delimiter @user.statuses_count%>
</td>
<td>
<%= number_with_delimiter @user.friends_count%>
</td>
<td>
<%= number_with_delimiter @user.followers_count%>
</td>
<td>
<%= number_with_delimiter @user.favourites_count%>
</td>
</tr>
</tbody>
</table>

<%@datahash.each do |key, value|%>

<table class='table table-bordered table-striped'>
<thead>
<tr>
<th>
<%=key+" ("+value.length.to_s+")"%>
</th>
</thead>
<tbody>
<%
value.each do |id, name|%>
<tr>
<td>
  <a href="http://twitter.com/account/redirect_by_id?id=<%=id%>"><%=name%></a>
</td>
</tr>
<%end%>
</tbody>
</table>
<%end%>


</div>
</div>

<p class="muted">
Current list of followers saved to database!  You won't be able to see the new and no longer following friends again.
</p>

<div class="row">
<%= form_tag(signout_path, :method => 'delete') do%>
<button class='btn btn-danger' id='sign_out'>
           <%= t("button.sign_out")%>
           </button>
<%end%>
</div>
